# Файлы окружения
.env
.env.local
.env.*.local

# База данных и данные сессий
data/
session
data.db
main_session.session
/data/

*.session

# Логи и временные файлы
*.log
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Docker
.dockerignore